.fpAlignCenter{text-align:center;}
.fpTable{display:inline-table;width:80%;border-collapse:collapse;}
.fpHeadRow{color:black;background-color:black;height:2px;border:none;}
.fpRow{color:black;background-color:black;height:1px;border:none;}
.fpColumn{width:50%;vertical-align:bottom;}
.fpDate{text-align:left;}
.fpPayment{text-align:right;}
.fpTextJustify{text-align:justify;}
.grid4,.grid5,.grid7,.grid8,.grid10,.grid11,.grid16,grid20,.pPaymentLabel,.pDetailLabel,.pDropdownLabel,.pSummaryLabel{margin-right:10px;}
.grid4,.pDetailLabel{width:190px;}
.grid5,.pPaymentLabel,.pDropdownLabel{width:240px;}
.grid7,.pDetailBreakdown{width:340px;}
.pDetailBreakdownWithAdvisory{width:440px;}
.grid8,.pSummaryLabel{width:390px;}
.grid11,.pDetailBlock,.pPaymentSummary,.pPaymentMessage{width:540px;}
.pPaymentInfoBox{width:50%;margin-left:auto;margin-right:auto;}
.pDetailBlockWithAdvisory,.pPaymentSummaryWithAdvisory{width:640px;}
.grid14,.pHeaderAction{width:690px;}
.grid16,.pPaymentButtons{width:790px;}
.gridfl,.pPaymentLabel,.pPaymentDetails,.pPaymentDetailsHeader,.pDetailLabel,.pDropdownLabel,.pDetailBreakdown,.pDetailBreakdownWithAdvisory,.pSummaryLabel,.pPaymentSummary,.pPaymentSummaryWithAdvisory{float:left;}
.gridfr,.pDetailSubtotal,.pStatementSerial,.pHeaderButton{float:right;}
.gridvmid{vertical-align:middle;}
.gridhid{visibility:hidden;}
.pTabs{margin:1px 0 0 0;padding:5px 0;border-bottom:1px solid #999;}
.pTab{list-style:none;margin:0;display:inline;}
.pTab a{padding:5px 12px;border:1px solid #FFF;border-bottom:none;text-decoration:none;color:#004B91;}
.pTab a:hover{text-decoration:underline;}
.pTabActive a{border-color:#999;border-bottom:1px solid #FFF;border-top-left-radius:5px;border-top-right-radius:5px;color:#000;font-weight:bold;}
.pNav{position:relative;margin:2em 0 1em;}
.pRed{color:#D00;}
.pHelpAnchor{cursor:help;border-bottom:1px dotted #999;}
.pSubheader{margin:.8em 0;font-size:1.5em;}
.pHeaderFootnote{max-width:490px;overflow:hidden;margin-bottom:2em;color:#999;}
.pHeaderButton{margin-left:15px;}
.pFindTransaction{text-align:right;}
.pStatementNav{margin:1em 0 2em;overflow:hidden;line-height:21px;}
.pDropdownLabel{text-align:right;}
.pPaymentBlock{margin:1em 0;clear:both;overflow:hidden;}
.pPaymentLabel{color:#777;}
.pPaymentDetails{border-bottom:1px solid #999;padding-bottom:1.5em;}
.pPaymentDetails.pNoBottomPadding{padding-bottom:.0px;}
.pPaymentBlock.pNoBottomPadding{padding-bottom:.0em;margin-bottom:.0px;}
.pReservedPaymentDetails{border-top:1px solid #999;padding-top:1.0em;padding-bottom:1.5em;overflow-x:hidden;overflow-y:auto;}
.pPadTop{padding-top:1.5em;background-color:white;}
.pSlidingDrawer{display:none;}
.pSlidingDrawerColor{background-color:#DDD;}
.pBackgroundColor{background-color:white;}
.pSlidingDrawerOpener{color:blue;}
.pNegativeHelpAnchor{color:#900;cursor:help;border-bottom:1px dotted #900;}
.pNegativeHelpAnchorUndotted{color:#900;cursor:help;border-bottom:1px;}
.pDetailBlock{clear:both;}
.pDetailLabel{font-weight:bold;}
.pDetailBreakdown,.pDetailBreakdownWithAdvisory{margin:0;}
.pDetailLine{position:relative;clear:both;}
.pDetailLineValue{float:right;clear:right;margin:0;padding:0;margin-left:10px;line-height:1.5em;}
.pDetailLineValueWithAdvisory{float:right;margin:0;padding:0;margin-left:1em;line-height:1.5em;min-width:70px;text-align:right;}
.pDetailLineKey{margin:0;padding:0;line-height:1.5em;overflow:hidden;}
.pDetailLineComment{position:absolute;left:350px;line-height:1.5em;white-space:nowrap;}
.pDetailSubtotal{clear:both;margin:.5em 0 1.5em;border-top:1px solid #777;padding-top:.4em;color:#777;}
.pDetailSubtotalValue{margin-left:1em;}
.pDetailSubtotalWithAdvisory{text-align:right;min-width:70px;float:left;}
.pPaymentMessage{margin-left:250px;}
.pPaymentButtons{margin:1.5em 0;text-align:right;}
.pSummaryBlock{overflow:hidden;margin-bottom:1em;}
.pSummaryValue{overflow:hidden;text-align:right;font-weight:bold;}
.pSummaryValueWithAdvisory{text-align:right;float:right;font-weight:bold;min-width:70px;margin-left:10px;}
.chargeMethodArea{text-align:center;}
@media print{#topNavContainer,#predictive-help,#ad-top,.pFindTransaction,.pTabs,.pPaymentButtons,.pStatementSerial,.pPaymentLabel,#sc_quicklinks_top,#sc_footer_container,.pDetailLineComment,.pSubheader,.pHeaderFootnote{display:none;}
.pDropdownLabel{text-align:left;}
.pPaymentMessage{margin-left:0;}
#left-side{width:100%!important;}
}
.labelClass{width:39%;overflow:none;float:left;padding-right:1%;text-align:right;font-weight:bold;color:dimgrey;padding-top:1%;padding-bottom:1%;}
.inputClass{width:60%;float:left;text-align:left;overflow:none;padding-top:1%;padding-bottom:1%;}
.inputBlock{clear:both;border-bottom:1px solid #999;}
.labelButtonClass{width:39%;overflow:none;float:left;padding-right:1%;text-align:right;padding-top:1%;padding-bottom:1%;}
.inputButtonClass{width:60%;float:left;text-align:left;overflow:none;padding-top:1%;padding-bottom:1%;}
.debtPaymentHeadSettlement{text-align:left;}
.debtPaymentHeadBalance{text-align:right;}
#debt-table td{border-bottom:1px solid #AAA;padding:4px;}
#debt-table th{border-bottom:3px solid #AAA;padding:4px;}
.final-balance td{border-top:1px solid #999;border-bottom:3px solid #AAA;padding:4px;}
ul.advisory-related-statements{list-style-type:none;margin-top:0;}
ul.advisory-related-statements li{margin-bottom:2px;}
.inlineAlert{height:13px;width:13px;position:relative;display:inline-block;background-position:-148px -86px;background-image:url("https://images-na.ssl-images-amazon.com/images/G/01/amazonui/sprites/aui_sprite_0012-1x._V1_.png");}